
{% extends 'base.html' %}


{% block content %}

<h1>{{game.title}}</h1><br><br>
<img width="300px" height="200px" src="{{ game.title_img.url }}"><br><br>


<div class="container">
  <div class="row">
    
    
    <div class="col-sm">
      
     
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="width: 540px; height: 300px;">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        
        <div class="carousel-inner">
           <div class="carousel-item active">
             <img class="d-block w-100" src="{{ game.sc1.url }}" alt="First slide"    width="500" height="285"     >
           </div>
           <div class="carousel-item">
             <img class="d-block w-100" src="{{ game.sc2.url }}" alt="Second slide"   width="500" height="285"     >
           </div>
           <div class="carousel-item">
             <img class="d-block w-100" src="{{ game.sc3.url }}" alt="Third slide"     width="500" height="285"      >
           </div>
         </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

   


    </div>
    <div class="col-sm">
      <div class="embed-responsive embed-responsive-16by9">
      <iframe width="500" height="285" src="{{game.trailer}}?autoplay=1">
      </iframe></div>
    </div>
  </div>
</div>







<small>{{game.dev}}</small><br><br>
<small>{{game.pub}}</small><br><br>
<small>{{game.gen}}</small><br><br>
<small>{{game.gtype}}</small><br><br>
<p>{{game.syn}}</p><br><br>


<form action="{%url 'hype_game'  game.pk %}"
method="POST">
{% csrf_token %}
{% if setmeh == True%}
<button disabled id="hy" type="submit", name="game_id", value="{{ game.id }}", class="btn btn-primary">HYPED?</button>

{% elif sethyped == True %}
  <button id="hy" type="submit", name="game_id", value="{{ game.id }}", class="btn btn-danger">UNHYPED</button>
{%else%}
  <button id="hy" type="submit", name="game_id", value="{{ game.id }}", class="btn btn-primary">HYPED?</button>
  {%endif%}
   
   - {{ total_hyped }} Users are Hyped
</form>
 
<br><br>

<form action="{%url 'meh_game' game.pk %}"
method="POST">
{% csrf_token %}
{%if sethyped == True%}
<button disabled id="mh" type="submit", name="game_meh", value="{{ game.id }}", class="btn btn-danger">Meh..</button>

{% elif setmeh == True %}
   <button id="mh" type="submit", name="game_meh", value="{{ game.id }}", class="btn btn-primary">UnMeh</button>

{% else %}
  <button id="mh" type="submit", name="game_meh", value="{{ game.id }}", class="btn btn-danger">Meh..</button>
  {%endif%}
   - {{ total_meh }} Users are not Hyped

   <br><br>

<h4>Hyped Users</h4>
   <div class="progress"  >
    <div  class="progress-bar" role="progressbar" aria-label="Example with label" style="width: {{inter}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{inter}}%</div>
  </div>

  <br><br>

<h4>Meh.... Users</h4>
   <div class="progress"   >
    <div  class="progress-bar" role="progressbar" aria-label="Example with label" style="width: {{ninter}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{ninter}}%</div>
  </div>
  
  
</form>


<br><br>



<br><br>

<br><br>
<h2>Add Comments</h2> <hr><br>


<iframe id="t" frameBorder="0" width="400" height="300" src="http://127.0.0.1:8000/gamedetails/{{game.pk}}/comment"></iframe>

<h2>Comments</h2>
<hr>
{% if not game.comments.all %}
    No comments...

{%else%}
    {% for comment in game.comments.all %}
          <strong>{{comment.user}}-
            {{comment.date_added}}
          </strong>
          <br/>
          {{comment.body}}
          
          <br>
    {% endfor %}

{%endif%}
<br><br>
<script>

var iframe = document.getElementById('t');
iframe.src = iframe.src;


</script>
{% endblock %}