{% extends 'base.html' %}


{% block content %}

<h1>New Games</h1>

  

    <div  >
      <div class="row">
         {% for game in object_list %}
         
        <div  style="margin-bottom: 30px; margin-left: 30px;  "  >
          
         <div class="card" style="width: 18rem;"  onclick="location.href='{% url 'gamedetails' game.pk %}'" >
            <img src="{{ game.title_img.url }}" class="card-img-top" alt="..."  width="350" height="180"    >
            <div class="card-body">
              <h5 class="card-title">{{game.title}}</h5>
            </div>
          </div>
        </div>
     
        {% endfor%}
      </div>
    </div>




{% endblock %}

